.row{
    background-color: black;
    color: white;
    font-family: Rancho;
}
.col-2,.col-8,.row,.container-fluid{
height: 100vh;
}

.col-8{
background-image: url('../images/puppies.gif');
background-position: center;
background-size: contain;
background-repeat: no-repeat;

}

h1{
    text-align: center;
    font-size: 100px;
}
p{
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px black;
}
#clickMe{
   border: 1px solid black;
   border-radius: 15px;
}
#guessSoFar,#hint{
    color: salmon;
    font-size: 50px;
}
#currentWord{
    color: darkred;
}